@charset "UTF-8";
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
html {
  scroll-padding-top: 60px;
  /* 固定ヘッダの高さ分 */
}

.c-heading__Lv1 {
  font-size: 28px;
  font-weight: 900;
  margin-top: 10px;
  text-align: center;
}
.c-heading__Lv2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
  padding-left: 10px;
  border-bottom: 3px solid;
}
.c-heading__Lv3 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}

.c-description__Lv1 {
  font-size: 24px;
  margin: 0;
}
.c-description__Lv2 {
  font-size: 18px;
  margin-top: 10px;
  line-height: 1.8;
}
.c-description__Lv3 {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.5;
}

.c-button {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  color: white;
  background-color: #b1b1b1;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 6fr 5fr;
  grid-template-rows: auto auto auto auto auto;
  max-width: 1100px;
  margin: 0 auto;
}

.p-header {
  grid-row: 1/2;
  grid-template: 1/3;
  background-color: #ffff;
  position: fixed;
  z-index: 999;
  width: 100vw;
  box-sizing: border-box;
}
.p-header .wrapper {
  background-color: #80808029;
}
.p-header .wrapper .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
}
.p-header__teamname {
  font-family: "Train One";
  font-size: 40px;
  width: auto;
  height: 50px;
}
.p-header__nav__list {
  display: flex;
}
.p-header__nav__list li {
  margin: 0 5px;
  padding: 0 15px;
  border-width: 2px;
  border-style: solid;
  font-size: 20px;
}

.p-home {
  padding-top: 60px;
}

#Latest-info {
  grid-row: 1/2;
  grid-column: 1/2;
}

#Mainvisual {
  grid-row: 1/4;
  grid-column: 2/3;
}

#About-us {
  grid-row: 2/3;
  grid-column: 1/2;
}

#Contact {
  grid-row: 3/4;
  grid-column: 1/2;
}

#Schedule {
  grid-row: 4/5;
  grid-column: 1/3;
}

#Access {
  grid-row: 5/6;
  grid-column: 1/3;
}

.p-box {
  margin-top: 37px;
  position: relative;
}
.p-box__text {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 5px auto 0px auto;
  display: block;
}
.p-box__text h2 {
  text-align: center;
}
.p-box__text h2 .outline {
  display: inline-block;
  color: #dbdbdb;
  /* 文字の色 */
  font-size: 28pt;
  /* 文字のサイズ */
  letter-spacing: 6px;
  /* 文字間 */
  text-shadow: 3px 3px 1px #000000, -3px 3px 1px #000000, 3px -3px 1px #000000, -3px -3px 1px #000000, 3px 0px 1px #000000, 0px 3px 1px #000000, -3px 0px 1px #000000, 0px -3px 1px #000000;
}
.p-box__img1 {
  height: 400px;
  background-image: url(https://www.feel-photo.info/wp/wp-content/uploads/i42_web.jpg);
  background-size: cover;
}
.p-box__img2 {
  height: 400px;
  background-image: url(https://www.city.chofu.tokyo.jp/www/contents/1564377279572/simple/190729143620_1.jpg);
  background-size: cover;
}

.p-home__seciton {
  margin: 30px 0 0;
}
.p-home__seciton__body {
  padding-bottom: 60;
}

table {
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
table tr th {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin: 10px auto auto;
  text-align: center;
}
table tr td {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  text-align: center;
  padding: 10px;
}
table tr .center {
  text-align: center;
}

.practice-day {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 10px;
  border-style: dashed;
  border-width: 2px;
  border-radius: 10px;
}
.practice-day p {
  margin: 5px 20px;
}

.mailadress {
  display: inline-block;
  margin: 10px 0px;
  padding: 0 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #272525;
}

.table-block {
  display: flex;
  justify-content: space-around;
}

.insititution-block {
  display: flex;
  justify-content: space-between;
}

.margin-bottom16 {
  margin-bottom: 38px;
}

.margin-bottom50 {
  padding-bottom: 50px;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-top: 50px;
  background-color: #ffff;
  margin-top: 10px;
}
.footer .wrapper {
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #80808029;
}
.footer .wrapper p {
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.blink {
  -webkit-animation: blink 1s ease-in-out infinite alternate;
  animation: blink 1s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    border-color: #ffff;
  }
  100% {
    border-color: #272525;
  }
}
@keyframes blink {
  0% {
    border-color: #ffff;
  }
  100% {
    border-color: #272525;
  }
}
/*# sourceMappingURL=style.css.map */