@charset "UTF-8";
// *{outline: solid 1px #f00}

/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
@use "../scss/reset";

/* mixin呼び出し */
@use "../scss/mixin" as m;


html {
  scroll-padding-top: 60px; /* 固定ヘッダの高さ分 */
  @include m.mq(sp){
    max-width: 500px;
    scroll-padding-top: 70px;
  }
}

// 見出しパーツ
.c-heading {
  &__Lv1 {
    font-size: 28px;
    font-weight: 900;
    padding: 10px 0px;
    text-align: center;
    @include m.mq(sp){
      padding: 10px 0 0 0;
    }
  }
  &__Lv2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
    padding-left: 5px;
    border-bottom: 3px solid;
    @include m.mq(sp){
      font-size: 20px;
    }
  }
  &__Lv3 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    @include m.mq(sp){
      font-size: 15px;
      margin: 10px 0 0 10px;
      margin-left: 10px;
    }
  }
}

// 説明文パーツ
.c-description {
  &__Lv1 {
    font-size: 24px;
    margin: 0;
  }
  &__Lv2 {
    font-size: 18px;
    margin: 5px 10px 0 10px;
    line-height: 1.8;
    @include m.mq(sp){
      font-size: 15px;
    }
  }
  &__Lv3 {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.5;
    @include m.mq(sp){
      font-size: 14px;
      margin: 5px 0 0 10px;
    }
  }
}

// ボタンパーツ
.c-button {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  color: white;
  background-color: rgb(177, 177, 177);
}

// 個別指定パーツ
.margin-bottom-weekday {
  margin-bottom: 38px;
  @include m.mq(sp){
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.margin-bottom50 {
  padding-bottom: 50px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

// ヘッダー部分
.p-header {
  grid-row: 1 / 2;
  grid-template: 1 / 3;
  background-color: #ffff;
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 66px;
  @include m.mq(sp){
    height: 70px;
  }
  .wrapper {
    background-color: #80808029;
    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      max-width: 1100px;
      @include m.mq(sp){
        display: block;
        text-align: center;
        width: auto;
        max-width: 500px;
      }
    }
  }
  &__teamname {
    font-family: "Train One";
    font-size: 40px;
    width: auto;
    @include m.mq(sp){
      font-size: 24px;
      padding-top: 10px;
      height: auto;
    }
  }

  &__nav {
    &__list {
      display: flex;
      justify-content: space-around;
      @include m.mq(sp){
        padding-bottom: 8px;
      }
      li {
        margin: 0 5px;
        padding: 0 15px;
        border-width: 2px;
        border-style: solid;
        font-size: 20px;
        @include m.mq(sp){
          font-size: 15px;
          margin-top: 8px;
          height: auto;
          border-width: 1px;
          padding: 0 5px;
        }
      }
    }
  }
}

// メイン部分コンテイナー
.main-container {
  display: grid;
  grid-template-columns: 6fr 5fr;
  grid-template-rows: auto auto auto auto auto;
  max-width: 1025px;
  margin: 0 auto;
  @include m.mq(sp){
    display: block;
    max-width: 500px;
  }
}

// メインコンテンツ
.p-home {
  padding-top: 60px;
  @include m.mq(sp){
    padding-top: 70px;

  }
}

// mainの各エリアのグリッド設定
#Latest-info {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
#Mainvisual {
  grid-row: 1 / 4;
  grid-column: 2 / 3;
  // background-color: #80808029;
  // border: red solid 1px;
}
#About-us {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
#Contact {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}
#Schedule {
  grid-row: 4 / 5;
  grid-column: 1 / 3;
}
#Access {
  grid-row: 5 / 6;
  grid-column: 1 / 3;
}

// 写真エリア部分
.p-box {
  margin-top: 37px;
  position: relative;
  @include m.mq(sp){
    margin-top: 0px;
  }
  &__text {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 5px auto 0px auto;
  display: block;
    h2 {
      text-align: center;
      @include m.mq(sp){
        padding: 5px;
      }
      // 点滅部分の詳細
      .outline {
        display        : inline-block;
        color          : #dbdbdb;            /* 文字の色 */
        font-size      : 28pt;               /* 文字のサイズ */
        letter-spacing : 6px;                /* 文字間 */
        text-shadow    : 
             3px  3px 1px #000000,
            -3px  3px 1px #000000,
             3px -3px 1px #000000,
            -3px -3px 1px #000000,
             3px  0px 1px #000000,
             0px  3px 1px #000000,
            -3px  0px 1px #000000,
             0px -3px 1px #000000;
        @include m.mq(sp){
          font-size: 18pt;
        }
      }
    }
  }
  &__img1 {
    height: 400px;
    background-image: url(../maijvisual.jpeg);
    background-size: cover;
    background-position: center center;
    @include m.mq(sp){
      display: none;
    }
  }
  &__img2 {
    height: 400px;
    background-image: url(../maijvisual.jpeg);
    background-size: cover;
    background-position: center center;
    @include m.mq(sp){
      height: 300px;
    }
  }
}

// セクションタイトル（共通）
.p-home__seciton {
  margin: 30px 0 0;
  // セクションヘッド（共通）
  &__head {
  }
  // セクションボディ（共通）
  &__body {
    padding-bottom: 60px;
  }
}

// 練習日（表レイアウト）
.table-block {
  display: flex;
  justify-content: space-around;
  @include m.mq(sp){
    display: block;
    margin-top: 5px;
  }
}

table {
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  @include m.mq(sp){
    margin: 0 auto;
  }
  tr {
    th {
      border-style: solid;
      border-width: 1px;
      border-color: black;
      margin: 10px auto auto;
      text-align: center;
      padding: 8px;
      font-size: 16px;
      @include m.mq(sp) {
        font-size: 14px;
        padding:  5px 3px 5px 3px;
      }
    }
    td {
      border-style: solid;
      border-width: 1px;
      border-color: black;
      text-align: center;
      padding: 8px;
      font-size: 16px;
      @include m.mq(sp){
        font-size: 14px;
        padding: 5px 3px 5px 3px;
      }
    }
    .center {
      text-align: center;
    }      
  }        
}

// 最新情報：練習日
.practice-day {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto 0 auto;
  border-style: dashed;
  border-width: 2px;
  border-radius: 10px;
  @include m.mq(sp){
    display: block;
    margin-top: 5px;
  }
  p {
    margin: 5px 10px;
    @include m.mq(sp){
      display: inline-block;
      margin: 2px 10px;
    }
  }
}

// メールアドレス
.mailadress {
  display: inline-block;
  margin: 10px 0px;
  padding: 0 10px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(39, 37, 37);
}

// 練習場所
.insititution-block {
  display: flex;
  justify-content: space-between;
  @include m.mq(sp){
    display: block;
    margin-top: 5px;
  }
}

// フッター
.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-top: 50px;
  background-color: #ffff;
  margin-top: 10px;
  @include m.mq(sp){
    
  }
  .wrapper {
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #80808029;
    @include m.mq(sp){
      height: 30px;
    }
    p {
      color: black;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      margin: 0;
      @include m.mq(sp){
        font-size: 16px;
      }
    }
  }
}

// 点滅デザイン
.blink {
  -webkit-animation: blink 1s ease-in-out infinite alternate;
  animation: blink 1s ease-in-out infinite alternate;
}
@-webkit-keyframes blink {
  0% {
    border-color: #ffff;
  }
  100% {
    border-color: rgb(39, 37, 37);
  }
}
@keyframes blink {
  0% {
    border-color: #ffff;
  }
  100% {
    border-color: rgb(39, 37, 37);
  }
}
